{{main}}

<head>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/course-meals.css">
</head>

{{#with thisCourse}}

<h1>{{name}}</h1>

<div class="menu-items-container ui center three column grid">
    {{#each meals}}
      <div class="column">
        <div class="column-padding">
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <div class="item-footer">
            <p><b>{{price}}</b></p>
            {{!-- <p><b>⭐{{rating}}</b></p> --}}
            <div class="rating">
              <span 
                class="ui yellow disabled rating" 
                data-icon="star" 
                data-rating="{{rating}}" 
                data-max-rating="5">
              </span>
              <span style="color: #fff; font-size: 90%; font-style: italic">
                {{getRatingMessage rating}}
              </span>
            </div>
          </div>
          <div class="controls">
            <a href="/course/{{../id}}/deletemeal/{{id}}" title="Delete Meal">
              <i class="ui white trash icon"></i>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
</div>

{{/with}}

<a href="/menu" id="back"><p>Back</p></a>