{{> header id="menu"}}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>

<section id="menu-container" class="ui center aligned middle aligned segment">
  
  <h1>Our Menu</h1>

  <form id="filter" action="/searchCategory" method="GET" class="ui form">
    <div class="field">
      <label>Filter by name:</label>
      <input id="name" type="text" name="searchTerm" placeholder="Search by name..." value="{{search}}">
    </div>
    <div class="field">
      <label>Sort by:</label>
      <select class="ui dropdown" name="sort" onchange="this.form.submit()">
        <option value="name" {{#if nameSelected}}selected{{/if}}>Name</option>
        <option value="numberOfMeals" {{#if numberOfMeals}}selected{{/if}}>No. Meals</option>
      </select>
    </div>
    <div class="field">
      <label>Order:</label>
      <select class="ui dropdown" name="order" onchange="this.form.submit()">
        <option value="asc" {{#if ascSelected}}selected{{/if}}>↑</option>
        <option value="desc" {{#if descSelected}}selected{{/if}}>↓</option>
      </select>
    </div>
  </form>

  {{#each course}}
    <div class="menu-items-container ui center aligned segment">
      <h2><i>{{uppercase name}}</i></h2>
      {{#if meals}}
        <p>Number of meals: {{meals.length}}</p>
      {{else}}
        <p>No meals in this course yet!</p>
      {{/if}}
      
      <a href="/course/{{id}}"><i class="icon hamburger"></i>See meals</a>
      
      <div class="controls">
        <a href="/menu/deletecourse/{{id}}" title="Delete Course">
            <i class="ui white trash icon"></i>
        </a>
      </div>
    </div>
  {{/each}}
</section>

{{> addcourse}}