{{> header id="staff"}}

<head>
    <link rel="stylesheet" href="/css/staff.css">
</head>

<section class="ui center aligned middle aligned segment">
  
  <h1>About us</h1>

  <div class="menu-items-container ui center four column grid">
    {{#each staffMembers}}
      <div class="column">
        <div class="column-padding">
          <div class="header">
            <h2>{{name}}</h2>
            <h4>{{occupation}}</h4>
          </div>
          <img src="{{picturePath}}" alt="A photo of {{name}}">
          <div class="footer">
            <p>Joined in {{dateJoined}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <h2>Our Location</h2>

  <iframe class="map-embed" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7506.574438184311!2d-20.99668057583488!3d63.934015238417885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sie!4v1773011994844!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>