{{> header id="statistics"}}

<section class="ui center aligned middle aligned segment">

  <h2>Playlist App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The playlist app now contains:
  </p>
  {{#with statistics}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered four statistics">
        <div class="ui purple statistic">
          <div class="value">
            <i class="plus icon"></i>
          </div>
          <div class="label">
            Amount of Users: {{userCount}}
          </div>
        </div>
        
        <div class="ui statistic">
          <div class="value">
            <i class="microphone icon"></i>
          </div>
          <div class="label">
            {{displayNumberOfCourses}} courses
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="music icon"></i>
          </div>
          <div class="label">
            {{displayNumberOfMeals}} meals
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="balance scale icon"></i>
          </div>
          <div class="label">
            Average meals per <br> course: {{displayAverageMealsPerCourse}}
          </div>
        </div>
      </div>
    </div>

    <div class="ui sixteen wide column">
      <div class="ui centered one statistics">
        <div class="ui purple statistic">
          <div class="value">
            <i class="plus icon"></i>
          </div>
          <div class="label">
            Largest Course: {{largestCourse}}
          </div>
        </div>
      </div>
    </div>
    
  </div>

  {{/with}}

</section>