{{> header id="statistics"}}

<section class="statistics-container ui center aligned middle aligned segment">

  <h2 class="statistics-title">Statistics</h2>

  {{#with statistics}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered three statistics">
        <div class="ui purple statistic">
          <div class="value">
            <i class="plus icon"></i>
          </div>
          <div class="label">
            Amount of Users: {{userCount}}
          </div>
        </div>
        
        <div class="ui statistic">
          <div class="value">
            <i class="bell icon"></i>
          </div>
          <div class="label">
            {{displayNumberOfCourses}} courses
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="balance scale icon"></i>
          </div>
          <div class="label">
            Average meals per <br> course: {{displayAverageMealsPerCourse}}
          </div>
        </div>
      </div>
    </div>

    <div class="ui sixteen wide column">
      <div class="ui centered three statistics">
        <div class="ui blue statistic">
          <div class="value">
            <i class="book open icon"></i>
          </div>
          <div class="label">
            {{displayNumberOfMeals}} meals total
          </div>
        </div>

        <div class="ui green statistic">
          <div class="value">
            <i class="receipt open icon"></i>
          </div>
          <div class="label">
            Largest Course: {{largestCourse}} meals
          </div>
        </div>
        <div class="ui orange statistic">
          <div class="value">
            <i class="star icon"></i>
          </div>
          <div class="label">
            {{displayAverageRatingOfMeals}} average rating of all meals
          </div>
        </div>
      </div>
    </div>
    
  </div>

  {{/with}}

</section>